$sidebar-width: 300px;

.listSidebar {
  position: fixed;
  height: 100%;

  &-list {
    white-space: nowrap;
    width: $sidebar-width;
    overflow-y: auto;
    height: 100%;
    transition: width 1s;

    &--visible {
      width: $sidebar-width;
    }

    &--hidden {
      width: 0;
    }
  }

  &-toggler {
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    font-size: 24px;
    width: 36px;
    text-align: center;
    transition: left 1s;

    &--left {
      left: 0;
    }

    &--right {
      left: $sidebar-width;
    }
  }

  .list-group-item {
    &:first-child, &:last-child {
      border-radius: 0;
    }
  }
}

@media screen and (min-width: 767px) {
  .listSidebar {
    &-toggler {
      display: none;
    }
  } 
}