.listSidebar {
  display: flex;
  margin-right: 10px;

  &-list {
    flex: 2;

    &--hidden {
      display: none;
    }

    &--visible {
      display: block;
    }
  }

  &-toggle {
    flex: 1;
  }
}

@media screen and (min-width: 720px) {
  .listSidebar {
    flex: 1;
    background-color: #f9f9f9;

    &-toggle {
      display: none;
    }
  }
}